body {
  padding: 0;
  margin: 0;
}

/* #zebraBoxes {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
} */

#svgTopLeft {
  position: fixed;
  width: 30%;
  height: 10vw;
  /* background: url("assets/background.svg");
  background-size: 100%; */
  top: 0;
}
#svgTopRight {
  right: 0;
  top: 0;
  width: 15%;
  height: 10vw;
  /* background: url("assets/background.svg");
  background-size: 200%; */
  position: fixed;
}
#lines {
  border: solid red 1px;
}
#svgBottomRight {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 20%;
  /* background: url("assets/background.svg");
  background-size: 100%; */
  height: 10vw;
}
#mainContainer {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
