@font-face {
  font-family: "Intro Cond Light Free";
  src: url("assets/IntroCondLightFree.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("assets/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --heading-font: "Intro Cond Light Free", sans-serif;
  --text-font: "Montserrat", sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "main aside";
  padding: 0;
  margin: 0;
}
header {
  position: sticky;
  width: 100%;
  z-index: 11;
  height: auto;
  top: 0;
  grid-area: header;
  background: white;
  display: flex;
  justify-content: space-between;
}
#website-head {
  border-bottom: solid black 1px;
  width: 100%;
  padding-left: 2rem;
}
#website-head h1,
#website-head h2 {
  font-family: var(--heading-font);
  font-weight: 500;
}
#website-head h1 {
  border: none;
}
#website-head h2 {
  font-size: xx-large;
}
aside {
  grid-area: aside;
  background: #fff;
  position: sticky;
  top: 10vw;
  width: auto;
  height: auto;
  /* max-block-size: calc(100vh - 10vw); */
  /* border: solid red 1px; */
  padding-right: 2rem;
  border-left: solid black 1px;
}

main {
  grid-area: main;
}
#svgTopLeft {
  /* position: fixed; */
  width: 30%;
  height: auto;

  top: 0;
}
#svgTopRight {
  right: 0;
  top: 0;
  width: 15%;
  height: auto;

  /* position: fixed; */
}

#svgBottomRight {
  position: fixed;
  bottom: 0;
  height: 10vw;
}

.fill {
  fill: hsl(calc(var(--hue, 0) * 20) 60% 60%);
}

#boxes_and_lines {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
#lines {
  position: fixed;
}
#websiteName {
  position: absolute;
  top: 0;
  left: 40%;
  height: auto;
  border: solid red 1px;
  margin: 0;
  font-family: var(--heading-font);
}

h1 {
  font-family: var(--heading-font);
  font-weight: lighter;
  font-size: 3rem;
  padding-left: 3vw;
  margin-bottom: 1rem;
  border-bottom: solid black 1px;
}
p {
  font-family: var(--text-font);
  margin-left: 3vw;
  font-size: medium;
  padding: 1rem;
  width: 50%;
  border: solid black 1px;
  line-height: 1.5;
}
.wrapper {
  width: 100%;
  display: flex;
  column-gap: 10%;
}
/* #contentSection {
  width: 70vw;
  height: 70vh;
  position: absolute;
  top: 12vw;
  left: 0;
  overflow: hidden;
} */
.panel {
  height: auto;
  width: 100%;
  /* top: 12vw; */
  /* position: absolute; */
  will-change: transform;
  background-color: white;
}

#AboutMeImg {
  background-image: url(assets/aboutMe.jpg);
  background-position: center;
  width: 18rem;
  height: 18rem;
  background-size: cover;
  margin: 0;
  border-radius: 50%;
}

/* #scrollSection {
  position: absolute;
} */
#allProjects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  padding: 3rem;
  /* border: solid red 1px; */
  height: auto;
}
.projectName {
  width: 100%;
  /* margin: auto; */
  /* border: solid blue 1px; */
  font-family: var(--heading-font);
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

.projectName:hover,
.close:hover {
  text-shadow: 2px 2px 3px grey;
  transition: all 0.5s;
}

#pageNav {
  display: flex;
  flex-direction: column;
  text-align: right;
  top: 30%;
}
#pageNav ul {
  list-style: none;
}
/* NAV LINKS */
.navlink {
  cursor: pointer;
  font-family: var(--heading-font);
  text-decoration-line: none;
  color: black;
  font-size: x-large;
}
/* .navlink::before {
  content: "◯";
  font-size: 12px;
  vertical-align: middle;
  margin-right: 5px;
} */

.slideshow-container {
  position: relative;
  width: 70vw;
  height: 70vh;
  text-align: center;
}
.mySlides {
  display: none;
}
.mySlides img {
  width: auto;
  height: 50vh;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  color: black;
  font-size: 25px;
  transition: 0.6s ease;
  /* border-radius: 0 3px 3px 0; */
  user-select: none;
}
.prev {
  left: 20%;
}
.next {
  right: 20%;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#scrollDown {
  position: absolute;
  z-index: 7;
  bottom: 0;
  right: 0;
  width: 10%;
  height: auto;
  /* border: solid blue 1px; */
}
#scrollDown svg {
  position: relative;
}

#scrollText {
  border: none;
  font-size: 15px;
  width: 100%;
  position: absolute;
  top: 40%;
  text-align: center;
  right: -30%;
  padding: 0;
  /* border: solid red 1px; */
  margin: 0;
  transform: rotate(270deg);
}

.popUp {
  position: fixed;
  z-index: 13;
  width: 95%;
  height: auto;
  padding-bottom: 2rem;
  overflow-y: scroll;
  left: 2.5%;
  top: 2.5%;
  background-color: white;
}
.popUp-head {
  text-align: center;
  margin-bottom: 2rem;
}
.popUp-head h2,
.popUpSection h2 {
  font-size: xx-large;
  font-family: var(--heading-font);
}
.popUpSection p {
  font-family: var(--text-font);
  margin: 0;
  width: auto;
}
.popUp-head h3 {
  font-size: medium;
  font-family: var(--heading-font);
}
.popUp-content {
  display: flex;
  justify-content: space-evenly;
}
.popUpSection {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.popUp-images {
  position: relative;
  height: auto;
  align-items: center;
}
.popUpImg {
  width: auto;
  height: 30vh;
  transition: all 1s;
}
.popUpImg:hover {
  height: 40vh;
  z-index: 1;
  box-shadow: 2px 2px 3px lightgray;
  transition: all 1s;
}
.popUpImg:nth-of-type(1):hover {
  margin-left: 0;
  transform: translateY(15%);
}
.popUpImg:nth-of-type(2):hover {
  margin-left: 0;
  transform: translateY(-20%);
}
.popUpImg:nth-of-type(3):hover {
  margin-left: 0;
  height: 35vh;
  transform: translateY(-60%);
}
#exam img {
  height: 25vh;
  margin-top: 0;
}
#exam img:hover {
  height: 30vh;
}
#exam img:nth-child(2) {
  margin-left: 0;
}
#exam img:nth-child(2):hover {
  margin: 0;
}
#configurator img:nth-child(1) {
  height: 25vh;
}
#configurator img:nth-child(1):hover {
  height: 30vh;
}
#configurator img:nth-child(3) {
  margin-top: -5%;
}
#configurator img:nth-child(3):hover {
  transform: translate(20%, -60%);
}
#game img:hover {
  height: 32vh;
}
.popUpImg1 {
  margin-left: 20%;
}
.popUpImg2 {
  margin-top: -15%;
  margin-left: -25%;
}
.popUpImg3 {
  margin-left: 30%;
  margin-top: -15%;
}
.hidden {
  display: none;
}

/* CLOSE BUTTON */

.close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  width: 150px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: none;
  color: black;
  letter-spacing: 4px;
  font-family: sans-serif;
  overflow: hidden;
}
.close span {
  display: block;
  background: black;
  transition: 0.2s;
}
.close span:nth-child(1),
.close span:nth-child(3) {
  position: absolute;
  height: 1px;
  width: 100%;
}
.close span:nth-child(2),
.close span:nth-child(4) {
  position: absolute;
  height: 100%;
  width: 1px;
}
.close span:nth-child(1) {
  top: 0;
  left: -100%;
  transition-delay: 0;
}
.close span:nth-child(2) {
  top: -100%;
  right: 0;
  transition-delay: 0.1s;
}
.close span:nth-child(3) {
  bottom: 0;
  right: -100%;
  transition-delay: 0.2s;
}
.close span:nth-child(4) {
  bottom: -100%;
  left: 0;
  transition-delay: 0.3s;
}
.close:hover span:nth-child(1) {
  top: 0;
  left: 0;
}
.close:hover span:nth-child(2) {
  top: 0;
  right: 0;
}
.close:hover span:nth-child(3) {
  bottom: 0;
  right: 0;
}
.close:hover span:nth-child(4) {
  bottom: 0;
  left: 0;
}

.darker {
  z-index: 12;
  animation-name: darker;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes darker {
  to {
    background-color: black;
    opacity: 0.3;
  }
}

#darkCover {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 8;
}
.hide {
  display: none;
}
