body {
  padding: 0;
  margin: 0;
}
main,
#zebraBoxes {
  width: 100vw;
  height: 100vh;
}
#lines_mainBox {
  width: 100%;
  height: 100%;
}
#zebraBoxes {
  position: fixed;
  z-index: -1;
}
#lines_mainBox {
  position: absolute;
}
#svgTopLeft {
  position: fixed;
  width: 30%;
  /* height: 10vw; */
}
#svgTopRight {
  right: 0;
  top: 0;
  width: 10%;
  /*  width: 12vw;
  height: 10vw; */
  position: fixed;
  /* border: solid blue 1px; */
}

#svgBottomRight {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 20vw;
  height: auto;
}
/* section {
  height: 200vh;
} */
/* line {
  position: fixed;
} */
/* #top {
  border: solid red 1px;
} */
